html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    width: 100vw;
    min-height: 100vh;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: rgb(156 233 255);
    
    h1 {
        font-size: 32px;
        color:rgb(26, 26, 26);
    }
}

.container {
    max-width: 1440px;
    margin: auto;
    width: 100%;
}
